global:
  scrape_interval: 30s
  external_labels:
    cluster: 'fly-io'
    environment: 'production'

scrape_configs:
  # Scrape from Fly.io deployment
  - job_name: "license-server-flyio"
    scheme: https
    static_configs:
      - targets: ["license-server-demo.fly.dev"]
    metrics_path: /metrics

remote_write:
  - url: https://prometheus-prod-XX-XX.grafana.net/api/prom/push
    basic_auth:
      username: YOUR_USERNAME
      password: YOUR_API_TOKEN


